@font-face {
  font-family: 'aleobold';
  src: url("../fonts/aleo/aleo-bold-webfont.eot");
  src: url("../fonts/aleo/aleo-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-bold-webfont.woff2") format("woff2"), url("../fonts/aleo/aleo-bold-webfont.woff") format("woff"), url("../fonts/aleo/aleo-bold-webfont.ttf") format("truetype"), url("../fonts/aleo/aleo-bold-webfont.svg#aleobold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'aleobolditalic';
  src: url("../fonts/aleo/aleo-bolditalic-webfont.eot");
  src: url("../fonts/aleo/aleo-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-bolditalic-webfont.woff2") format("woff2"), url("../fonts/aleo/aleo-bolditalic-webfont.woff") format("woff"), url("../fonts/aleo/aleo-bolditalic-webfont.ttf") format("truetype"), url("../fonts/aleo/aleo-bolditalic-webfont.svg#aleobolditalic") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'aleoitalic';
  src: url("../fonts/aleo/aleo-italic-webfont.eot");
  src: url("../fonts/aleo/aleo-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-italic-webfont.woff2") format("woff2"), url("../fonts/aleo/aleo-italic-webfont.woff") format("woff"), url("../fonts/aleo/aleo-italic-webfont.ttf") format("truetype"), url("../fonts/aleo/aleo-italic-webfont.svg#aleoitalic") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'aleolight';
  src: url("../fonts/aleo/aleo-light-webfont.eot");
  src: url("../fonts/aleo/aleo-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-light-webfont.woff2") format("woff2"), url("../fonts/aleo/aleo-light-webfont.woff") format("woff"), url("../fonts/aleo/aleo-light-webfont.ttf") format("truetype"), url("../fonts/aleo/aleo-light-webfont.svg#aleolight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'aleolightitalic';
  src: url("../fonts/aleo/aleo-lightitalic-webfont.eot");
  src: url("../fonts/aleo/aleo-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-lightitalic-webfont.woff2") format("woff2"), url("../fonts/aleo/aleo-lightitalic-webfont.woff") format("woff"), url("../fonts/aleo/aleo-lightitalic-webfont.ttf") format("truetype"), url("../fonts/aleo/aleo-lightitalic-webfont.svg#aleolightitalic") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'aleoregular';
  src: url("../fonts/aleo/aleo-regular-webfont.eot");
  src: url("../fonts/aleo/aleo-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-regular-webfont.woff2") format("woff2"), url("../fonts/aleo/aleo-regular-webfont.woff") format("woff"), url("../fonts/aleo/aleo-regular-webfont.ttf") format("truetype"), url("../fonts/aleo/aleo-regular-webfont.svg#aleoregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sansbold';
  src: url("../fonts/josefin-sans/josefin-sans.bold-webfont.eot");
  src: url("../fonts/josefin-sans/josefin-sans.bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/josefin-sans/josefin-sans.bold-webfont.woff2") format("woff2"), url("../fonts/josefin-sans/josefin-sans.bold-webfont.woff") format("woff"), url("../fonts/josefin-sans/josefin-sans.bold-webfont.ttf") format("truetype"), url("../fonts/josefin-sans/josefin-sans.bold-webfont.svg#josefin_sansbold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sansregular';
  src: url("../fonts/josefin-sans/josefin-sans.regular-webfont.eot");
  src: url("../fonts/josefin-sans/josefin-sans.regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/josefin-sans/josefin-sans.regular-webfont.woff2") format("woff2"), url("../fonts/josefin-sans/josefin-sans.regular-webfont.woff") format("woff"), url("../fonts/josefin-sans/josefin-sans.regular-webfont.ttf") format("truetype"), url("../fonts/josefin-sans/josefin-sans.regular-webfont.svg#josefin_sansregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.general-btn {
  font-family: "josefin_sansregular";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  background: #5373fd;
  padding: 20px;
  border: none;
  width: fit-content;
}

.general-title {
  font-family: "aleoregular";
  font-weight: 400;
  font-size: 36px;
  color: #ffffff;
  text-transform: capitalize;
}

.info-title {
  font-family: "josefin_sansregular";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.info-text {
  font-family: "josefin_sansregular";
  font-weight: 400;
  font-size: 16px;
  color: #e8e8e8;
  line-height: 26px;
}

.header {
  background: url("../img/header/bg-header.png") no-repeat;
  background-size: cover;
}

.header-intro {
  padding: 265px 0 130px;
}

.header-intro__title {
  font-family: "josefin_sansbold";
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 5px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.header-intro__subtitle {
  font-family: "josefin_sansregular";
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 7px;
  color: #ffffff;
  text-transform: capitalize;
  line-height: 26px;
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  margin: 45px 0 115px;
}

@media screen and (max-width: 768px) {
  .search {
    flex-direction: column;
    align-items: center;
  }
}

.search__input {
  padding: 15px 0;
  width: 40%;
  border: none;
}

@media screen and (max-width: 768px) {
  .search__input {
    width: 70%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 576px) {
  .search__input {
    width: 90%;
  }
}

.search__input::placeholder {
  font-family: "josefin_sansregular";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 3px;
  color: #999999;
  text-transform: capitalize;
  text-align: center;
}

.search__btn {
  font-family: "aleoregular";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background: #5373fd;
  padding: 15px 10px 15px 30px;
  margin: 0;
  border: 1px solid #ffffff;
}

.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll__text {
  font-family: "josefin_sansregular";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 3px;
  color: #ffffff;
  text-transform: capitalize;
}

.header-nav {
  height: 80px;
  background: #5373fd;
  display: flex;
}

.header-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list {
  display: flex;
  align-items: center;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .header-nav__list {
    display: none;
  }
}

.header-nav__logo {
  font-family: "josefin_sansbold";
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 26px;
}

.header-nav__item {
  margin-right: 25px;
}

.header-nav__link {
  font-family: "aleoregular";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
}

.header-nav__link:hover {
  background: #ffffff;
  color: #5373fd;
  transition-duration: 0.5s;
}

.header-nav__btn {
  display: none;
  border: none;
  font-size: 30px;
  background: #5373fd;
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  .header-nav__btn {
    display: block;
  }
}

.choose-us {
  background: url("../img/choose-us/bg_chooseUs.png") no-repeat;
  background-size: cover;
}

.choose-us .container {
  display: flex;
  justify-content: space-between;
  padding: 115px 0;
}

@media screen and (max-width: 1200px) {
  .choose-us .container {
    padding: 115px 30px;
  }
}

.choose-us__info {
  flex: 0 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .choose-us__info {
    flex: none;
    width: 100%;
  }
}

.choose-us__info-title {
  margin-bottom: 60px;
}

.choose-us__info-text {
  font-family: "josefin_sansregular";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
  color: #e8e8e8;
  line-height: 26px;
  margin-bottom: 30px;
}

.choose-us__photo {
  flex: 0 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.choose-us__photo-img {
  max-width: fit-content;
  height: auto;
}

@media screen and (max-width: 768px) {
  .choose-us__photo-img {
    display: none;
  }
}

.choose-us__photo-img--first {
  margin: 0 125px 5px 0;
}

@media screen and (max-width: 992px) {
  .choose-us__photo-img--first {
    margin: 0;
  }
}

.how-works {
  background: #333333;
}

.how-works .container {
  padding: 80px 0 115px;
  display: flex;
}

@media screen and (max-width: 768px) {
  .how-works .container {
    flex-direction: column;
  }
}

.how-works__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 33%;
}

@media screen and (max-width: 768px) {
  .how-works__block {
    margin-bottom: 20px;
  }
}

.how-works__block-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: fit-content;
  padding: 20px;
  margin-bottom: 10px;
}

.first-place {
  background: url("../img/places/bg-first_place.png") no-repeat;
  background-size: cover;
}

.first-place .container {
  display: flex;
  padding: 230px 0 100px;
}

.second-place {
  background: url("../img/places/bg-second_place.png") no-repeat;
  background-size: cover;
}

.second-place .container {
  display: flex;
  padding: 230px 0 100px;
  justify-content: flex-end;
}

.first-place {
  background: url("../img/places/bg-first_place.png") no-repeat;
  background-size: cover;
}

.first-place .container {
  display: flex;
  padding: 230px 0 100px;
}

.place-info {
  flex: 0 48%;
  background: rgba(35, 35, 35, 0.9);
  padding: 45px 60px 45px 30px;
}

@media screen and (max-width: 1200px) {
  .place-info {
    margin: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .place-info {
    flex: 100%;
  }
}

.place-info__subtitle {
  font-family: "josefin_sansregular";
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  color: #e8e8e8;
  margin-bottom: 25px;
  display: block;
}

.place-info__title {
  margin-bottom: 25px;
}

.place-info__text {
  margin-bottom: 50px;
}

.reviews {
  background: url("../img/reviews/bg-reviews.png") no-repeat;
  background-size: cover;
}

.reviews .container {
  padding: 115px 0 195px;
}

@media screen and (max-width: 1200px) {
  .reviews .container {
    margin: 0 20px;
  }
}

.reviews-title {
  text-align: center;
  margin-bottom: 95px;
}

.reviews-block {
  display: flex;
}

@media screen and (max-width: 768px) {
  .reviews-block {
    flex-direction: column;
  }
}

.reviews-block__info {
  background: #333333;
  padding: 50px 50px 50px 60px;
  position: relative;
  top: -5px;
}

@media screen and (max-width: 576px) {
  .reviews-block__info {
    padding: 20px 20px 20px 30px;
  }
}

.reviews-block__title {
  margin-bottom: 30px;
}

.reviews-block__quotes {
  font-size: 26px;
  color: #5373fd;
  margin-right: 5px;
}

.reviews-block__img {
  width: auto;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */