.footer {
    background: $gray-dark;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 115px 0 50px;

        @media screen and (max-width: 768px) {
padding: 50px 0 30px;
        }
    }

    &-logo {
        @include font('josefin_sansbold', 700, 24px, 3px, $white, uppercase);
        margin-bottom: 10px;
    }

    &-subtitle {
        @include font('josefin_sansregular', 400, 16px, 2px, $white, capitalize);
        margin-bottom: 25px;
    }

    &-social {
        display: flex;

        &__link {
            color: $white;
            padding: 5px 10px;
            border-radius: 25%;

            &:hover {
                color: $blue;
                background: $white;
                transition-duration: 0.5s;
            }
        }
    }
}

