* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a, a:visited {
    text-decoration: none;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

$white:#ffffff;
$blue:#5373fd;
$gray:#999999;
$gray-light:#e8e8e8;
$gray-brown:#333333;
$gray-dark:#232323;

.general-btn {
    @include font('josefin_sansregular', 400, 16px, 1px, $white, uppercase);
    background: $blue;
    padding: 20px;
    border: none;
    width: fit-content;
}

.general-title {
    @include font('aleoregular', 400, 36px, null, $white, capitalize);
}

.info-title {
    @include font('josefin_sansregular', 400, 20px, null, $white, uppercase);
}

.info-text {
    @include font('josefin_sansregular', 400, 16px, null, $gray-light, null);
    line-height: 26px;
}